<div>
    <h2>Mi carrito</h2>
    <input type="hidden" value="{{cartId}}" name="cartId" id="cartId">
    <br><br>
    <a href="/api/products/">Ver productos</a>
    <table id="listTable">
        <tr>
            <!--<th>ID</th>-->
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Precio total</th>
            <th>Categoria</th>
            <th>Imagenes</th>
            <th>Acciones</th>
        </tr>
    
    {{#each products}}
    
        <tr id="rowNo{{this.product._id}}">
            <!--<td>{{this.product._id}}</td>-->
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.code}}</td>
            <td>$ {{this.product.price}}</td> 
            <td>{{this.qty}}</td>
            <td>$ {{this.subtotal}}</td>
            <td>{{this.product.category}}</td>
            {{#if this.product.thumbnails.length}}
                <td>
                    {{#each this.product.thumbnails}}
                        {{this}}<br>
                    {{/each}}
                </td>
            {{else}}
                <td>&nbsp;</td>
            {{/if}}
            <td>
                <form class="removeForm" id="formProd_{{this.product._id}}Form">
                    <input type="hidden" name="product_id" value="{{this.product._id}}">
                    <button type="submit" id="formProd_{{this.product._id}}" >Eliminar producto</button>
                </form>
            </td>
        </tr>
    {{/each}}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Total a pagar:</td>
        <td>$ {{total}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </table>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../js/cart.js"></script>